@import 'variables.less';
@import 'fonts.less';
@import 'headers.less';
@import 'card.less';
@import 'drawer.less';
@import 'tooltip.less';

html, body {
  padding: 0;
  margin: 0;
}

body {
  padding: @size-medium;
  .font-default();
}

main {
  max-width: 80%;
  margin: 0 auto;
}
